/* === DESKTOP FIRST === */

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {
    .intro__label {
        margin-top: 55px;
    }
}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {
    .intro__container {
        padding-left : 15px;
        padding-right: 15px;
    }


}

/* md <= Large (lg) */
@media (max-width : 992px) {
    .header__container {
        justify-content: space-between;
    }

    .header__login-btn {
        margin-left: auto;
    }

    .header__navigation {
        position        : fixed;
        top             : -10px;
        right           : 0;
        bottom          : 0;
        left            : 0;
        background-color: rgba($color: $secondary_color, $alpha: .9);
        flex-direction  : column;
        align-items     : center;
        justify-content : center;
        opacity         : 0;
        transition      : transform 0.3s linear, opacity 0.3s linear, height 0.3s linear, ;
        z-index         : -100;
        height          : 0;
        transform       : translateY(-20px);
    }

    .header__navigation.is-show {
        top      : 0;
        opacity  : 1;
        z-index  : 100;
        height   : calc(100% - 45px);
        transform: translate(0);
    }

    .header__apply .nav-item {
        flex: 1 0 auto;
    }

    .header__apply .nav-item:last-child {
        flex: 0 1 auto;
    }

    .header__apply {
        position : fixed;
        bottom   : 0;
        left     : 0;
        right    : 0;
        max-width: 100%;
    }

    .header__apply .nav-link.menu-btn {
        display         : block;
        height          : 100%;
        background-color: #eee;
        padding-top     : 12px;
        padding-bottom  : 12px;
    }

    .header__login-btn {
        margin-left : auto;
        margin-right: 0;
    }

    .features__image {
        margin: 0 auto;
    }

    .features__suptitle,
    .features__title {
        transform    : none;
        text-align   : center;
        margin-bottom: 30px;
    }



    .features__list-container {
        padding-left : 0;
        padding-right: 0;
    }

    .intro::before {
        left: calc(50% - 280px);
    }


    .problems__list {
        padding-left : 15px;
        padding-right: 15px;
    }

    .problems__item {
        flex     : 0 0 100%;
        max-width: 100%;
        padding  : 21px;
    }

    .problems__item:first-child {
        border-top-left-radius : 10px;
        border-top-right-radius: 10px;
    }

    .problems__item:nth-child(2) {
        border-radius: 0;
    }

    .problems__item:last-child {
        justify-content: flex-start;
    }

    .problems__image-title {
        max-width : 380px;
        word-break: initial;
    }

    // .information {
    //     padding-left : 15px;
    //     padding-right: 15px;
    // }

    .facilities {
        justify-content: center;
    }

    .facilities__item {
        flex     : 0 0 50%;
        max-width: 50%;
    }

    .information__image {
        text-align: center;
    }

    .instructors .row>div {
        margin-bottom: 125px;
    }

    .instructors .row>div:last-child {
        margin-bottom: 0;
    }

    .price .row>div {
        margin-bottom: 30px;
    }

    .case .row>div {
        margin-bottom: 30px;
    }

    .price .row>div:last-child {
        margin-bottom: 0;
    }

    .philosophy {
        padding-bottom: 265px;
    }

    .philosophy__container::after {
        top: 100%;
    }

    .contact__title {
        margin-top: 50px;
    }

    .news__list {
        float: none;
        top  : 35px;
    }

    .footer__text {
        padding-top   : 40px;
        padding-bottom: 40px;
    }

    .information__container {
        padding-left : 30px;
        padding-right: 30px;
    }

    .differences__table {
        display: none;
    }

    .differences__table-mobile {
        display: block;
    }

    .information__image img {
        max-width: 100%;
    }

    .contact__container {
        padding-right: 31px;
    }

    .footer__bottom {
        margin-bottom: 45px;
    }

    .features__image img {
        transform : translateY(0);
        box-shadow: -50px 50px 0 #183e5d
    }

    .features {
        background-color: #fff;
        padding-top     : 140px;
    }

    .features__suptitle {
        top      : -130px;
        left     : 0;
        font-size: 14px;
    }

    .features__title {
        top      : -100px;
        left     : 0;
        font-size: 30px;
    }

    .features__container::before,
    .features__container::after {
        content: none;
    }

    .information__title {
        padding-top: 20px;
    }

    .philosophy__container::before {
        width: 100vw;
        top  : 104px;
        right: calc((100vw - 991px) / -2);
        left : 20px;
    }

    .philosophy__desc {
        padding-left: 0;
    }
}

/* sm <= Medium (md) */
@media (max-width : 768px) {
    .intro::before {
        left: calc(50% - 240px);
    }

    .header__container {
        padding-left : 0;
        padding-right: 0;
    }

    .information__container {
        padding-left : 15px;
        padding-right: 15px;
    }

    .contact__btn {
        margin-bottom: 15px;
    }

    .facilities__item {
        flex     : 0 0 100%;
        max-width: 100%;
    }

    .intro__suptitle {
        font-size    : 13px;
        line-height  : 1;
        margin-bottom: 13px;
    }

    .intro__title {
        font-size  : 30px;
        line-height: 1.2;
    }

    .problems {
        padding-top   : 30px;
        padding-bottom: 30px;
    }

    .problems__title {
        margin-bottom: 30px;
    }

    .problems__item {
        font-size  : 15px;
        line-height: 21px;
        padding    : 13px 21px;
    }

    .problems__image {
        padding-left : 20px;
        padding-right: 20px;
    }

    .problems__image-title {
        font-size  : 24px;
        line-height: 32px;
    }

    .information__container {
        padding-top: 30px;
    }

    .information__title {
        font-size  : 24px;
        line-height: 32px;
    }

    .plan__title {
        font-size  : 18px;
        line-height: 1.6;
    }

    .plan__table th {
        font-size  : 13px;
        line-height: 18px;
    }

    .plan__table .alert {
        font-size  : 13px;
        line-height: 18px;
    }

    .plan__table td {
        font-size  : 12px;
        line-height: 1.5;
    }

    .information__subtitle {
        font-size    : 20px;
        line-height  : 32px;
        margin-bottom: 15px;
    }

    .information__desc {
        font-size  : 14px;
        line-height: 23px;
    }

    .facilities {
        margin-top   : 70px;
        margin-bottom: 30px;
    }

    .plan {
        margin-bottom: 45px;
    }

    .plan__table tr:first-child th {
        min-width: 100px;
    }

    .instructors,
    .price,
    .case,
    .faq,
    .philosophy {
        padding-top   : 50px;
        padding-bottom: 50px;
    }

    .philosophy__suptitle {
        font-size  : 12px;
        line-height: 21px;
    }

    .philosophy__title {
        font-size  : 20px;
        line-height: 1.5;
    }

    .philosophy__desc {
        font-size   : 14px;
        line-height : 22px;
        padding-left: 0;
    }

    .philosophy__container {
        background-color: transparent;
    }

    .philosophy__container::before {
        width: 100vw;
        top  : 104px;
        right: calc((100vw - 720px) / -2);
        left : 20px;
    }

    .contact__title {
        margin-top   : 20px;
        margin-bottom: 20px;
    }

    .intro__logo {
        width: 142px;
    }
}

/* xs <= Small (sm) */
@media (max-width : 576px) {
    .intro::before {
        left: calc(50% - 148px);
    }

    .contact__title {
        margin-top: 0;
    }

    .contact__btn {
        margin-left: 0;
        max-width  : initial;
        width      : 100%;
        height     : 40px;
        font-size  : 16px;
        line-height: 1.6;

    }

    .contact__container {
        padding: 20;
    }

    .contact__title {
        font-size  : 24px;
        line-height: 1.3;
    }

    .contact__desc {
        font-size  : 14px;
        line-height: 1.6;
    }

    .contact__subtitle {
        font-size  : 12px;
        line-height: 1.5;
    }

    .philosophy::after {
        height: 50%;
        right : 0;
        left  : 0;
        width : 100%;
    }

    .philosophy__container::before {
        height: calc(100% - 69px);
    }

    .features__item {
        margin-bottom: 15px;
        font-size    : 12px;
        line-height  : 1.2;
        padding-left : 19px;
    }

    .features__item::before {
        top   : 3px;
        width : 10px;
        height: 10px;
    }

    .features__suptitle {
        font-size  : 14px;
        line-height: 1.3;
        top        : -80px;
    }

    .features__title {
        top        : -55px;
        font-size  : 30px;
        line-height: 1.3;
    }

    .features__image img {
        width     : 100%;
        height    : auto;
        box-shadow: -20px 20px 0 #183e5d;

    }

    .features__list-container .features {
        padding-left : 30px;
        padding-right: 30px;
    }

    .features__container::after,
    .features__container::before {
        content: none;
    }

    .features__list-container {
        margin-top: 50px;
    }

    .problems__title {
        font-size  : 24px;
        line-height: 1.2;
    }

    .features__list {
        padding-top  : 0;
        padding-left : 15px;
        padding-right: 15px;
    }

    .philosophy__container::after {
        height: 65%;
        left  : -10px;
        right : 0;
        width : 125%;
    }

    .footer__text {
        padding-left: 40px;
    }

    .philosophy__container {
        background: transparent;
    }

    .intro {
        padding-bottom: 20px;

    }

    .intro__container {
        margin-bottom: 20px;
    }

    .intro__people {
        transform: translateX(0);
    }

    .information__image {
        margin-bottom: 20px;
    }

    .facilities {
        margin-top   : 30px;
        margin-bottom: 0;
    }

    .philosophy__desc {
        margin-bottom: 20px;
    }

    .news__suptitle,
    .price__suptitle,
    .instructors__suptitle,
    .case__suptitle,
    .faq__suptitle,
    .price__item-header {
        font-size  : 14px;
        line-height: 1.5;
    }

    .news__title,
    .price__title,
    .instructors__title,
    .case__title,
    .faq__title {
        font-size    : 24px;
        line-height  : 1.5;
        margin-bottom: 24px;
    }

    .case__text-title {
        font-size    : 16px;
        line-height  : 1.38;
        margin-bottom: 10px;

    }

    .case__subtitle {
        margin-bottom: 24px;
        font-size    : 14px;
        line-height: 1.66;
    }

    .case__text-subtitle {
        font-size  : 12px;
        line-height: 1.4;
    }

    .case__desc {
        font-size     : 14px;
        line-height   : 1.6;
        padding-bottom: 0;
    }

    .faq__item {
        padding: 15px;
    }

    .faq__item .question::before,
    .faq__item .answer::before {
        font-size  : 16px;
        line-height: 20px;
        text-align : center;

    }

    .faq__item .question {
        font-size    : 15px;
        line-height  : 1.5;
        margin-bottom: 10px;
    }

    .faq__item .answer {
        font-size  : 13px;
        line-height: 1.675;

    }

    .header__login-btn {
        font-size  : 14px;
        line-height: 1;
    }

    .price__item-body .list__item .value {
        font-size: 12px;
    }

    .price__item-body .list__item:nth-child(2) {
        flex: auto;
    }

    .price__item-body .list__item:nth-child(3) {
        flex: auto;
    }

    .news__item {
        flex-direction: column;
    }

    .news__item .date {
        font-size    : 12px;
        line-height  : 1;
        margin-bottom: 10px;
    }

    .news__item .title {
        font-size   : 13px;
        line-height : 1.5;
        padding-left: 0;
    }


    .footer__suptitle {
        font-size  : 14px;
        line-height: 1.75;
    }

    .footer__title {
        font-size    : 20px;
        line-height  : 1.75;
        margin-bottom: 20px;
    }

    .footer__contact {
        font-size  : 12px;
        line-height: 1.5;
    }

    .footer__bottom {
        padding-top   : 5px;
        padding-bottom: 5px;
        font-size     : 14px;
        line-height   : 1.75;
    }

    .features__image {
        width : initial;
        height: auto;
    }

    .features {
        padding-left : 20px;
        padding-right: 10px;
    }

    .information__title-wrapper {
        padding: 0 12px;
    }
}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {}

/* Small (sm) */
@media (min-width : 576px) {
    .intro__container {
        margin-bottom: 0;
    }
}

/* Medium (md) */
@media (min-width : 768px) {
    .intro__container {
        margin-bottom: -60px;
    }

    .intro__logo {
        width: 180px;
    }
}

/* Large (lg) */
@media (min-width : 992px) {
    .intro__container {
        margin-bottom: -90px;
    }

    .features__image img {
        box-shadow: -50px 50px 0 #183e5d
    }

    .intro__logo {
        width: 200px;
    }
}

/* Extra large (xl) */
@media (min-width : 1200px) {
    .container {
        max-width: $content-size;
    }


    .intro__logo {
        width: 223px;
    }

    .intro__container {
        margin-bottom: -160px;
    }
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
    .container-xl {
        max-width: 1366px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1140px;
    }
}