@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";

html {
  font-size: $base-font-size;
  height   : 100%;
}

body {
  height         : 100%;
  scroll-behavior: smooth;
  text-rendering : optimizeSpeed;
  line-height    : 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



.wrapper {
  display       : flex;
  flex-direction: column;
  min-height    : 100%;
  overflow-x    : hidden;
}

.content {
  flex: 1 0 auto;
}

.container {
  margin   : 0 auto;
  // max-width: $content-size;
  width    : 100%;
}

//Модули
@import "modules/modules";


@import 'media';