section.case 
    .container.p-lg-0
        .case__container 
            h2
                .case__suptitle(data-aos="anim-move-right" data-aos-duration="1000")  
                    .title Cases
                    .element
            h2
                .case__title(data-aos="anim-move-right" data-aos-duration="1000" data-aos-delay="200")  
                    .title 導入事例
                    .element
            .case__subtitle(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")  サービスを導入された企業様の感想をご紹介します。
        .row 
            .col-lg-6.col-md-6
                .case__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500")  
                    .case__body 
                        .case__image 
                            img(src="static/images/content/case-1.jpg" alt="" decoding="async")
                        .case__text
                            .case__text-title 自分自身の仕事へのやりがいに 繋がりました
                            .case__text-subtitle 株式会社倉敷自動車教習所：インストラクションセンター
                    .case__desc 最近は、運転教育事業における外国人教習生も増えてきました。私はお客様と英会話のコミュニケーションが取れることは、とても大切なことだと思いました。
            .col-lg-6.col-md-6
                .case__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700")  
                    .case__body 
                        .case__image 
                            img(src="static/images/content/case-2.jpg" alt="" decoding="async")
                        .case__text
                            .case__text-title 自分自身の仕事へのやりがいに 繋がりました
                            .case__text-subtitle 株式会社倉敷自動車教習所：インストラクションセンター
                    .case__desc 最近は、運転教育事業における外国人教習生も増えてきました。私はお客様と英会話のコミュニケーションが取れることは、とても大切なことだと思いました。