section.contact 
    .container.p-lg-0
        .contact__container 
            .row.flex-column-reverse.flex-md-row
                .col-lg-6(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")  
                    img(src="static/images/content/contact_image.png" alt="" decoding="async").w-100
                .col-lg-6(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")  
                    h2.contact__title まずはお気軽に 
                        br
                        | お問い合わせください
                    .contact__desc ご不明なことがありましたら、お気軽にお問い合わせください。 弊社担当が丁寧にご説明し、最適なプランをご提案さしあげます。
                    .contact__subtitle お問い合わせいただいた内容を基にした、営業活動は行いませんのでご安心ください。
                    a(href="#").btn.contact__btn 
                        img(src="/static/images/general/email-icon.svg" width="24" height="20" alt="" class="w100 d-block" decoding="async")
                        | お問い合わせ