section.faq 
    .container.p-lg-0
        .faq__container 
            h2
                .faq__suptitle(data-aos="anim-move-right" data-aos-duration="1000")  
                    .title FAQ
                    .element
            h2
                .faq__title(data-aos="anim-move-right" data-aos-duration="1000" data-aos-delay="200")  
                    .title よくあるご質問
                    .element

        .row.justify-content-center
            .col-lg-6.mb-4 
                .faq__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")  
                    .question 料金の支払方法はどのようになっていますか？
                    .answer 毎月企業担当者様に請求書を送付させていただきます。
            .col-lg-6.mb-4 
                .faq__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500")  
                    .question 講師の方は毎講座ごとに変わるのですか？
                    .answer 全行程完了まで講師は固定となります。
                        | 講師の変更をご希望の方はこちらのフォームよりお問い合わせください。
            .col-lg-6.mb-4
                .faq__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700")  
                    .question 何名から申し込みできますか？
                    .answer 一名様からお申込み頂けます。法人契約となりますので、企業担当者様からこちらまでお問い合わせください。

