section.features 
    .container-lg
        .features__container
            h3 
                .features__suptitle(data-aos="anim-move-right" data-aos-duration="1000" )
                    .title  これからの日本企業に求められる
                    .element 
            h2
                .features__title(data-aos="anim-move-right" data-aos-duration="1000" data-aos-delay="200") 
                    .title 語学力を身に着ける
                    .element 
            .row.g-0.features__container-row
                .col-lg-6
                    .features__image(data-aos="fade-right" data-aos-duration="1000" data-aos-delay="100" )
                        img(src="static/images/content/features_image.jpg" srcset="static/images/content/features_image.jpg static/images/content/features_image.jpg 575w" width="450" height="545" alt="" decoding="async")
                .col-lg-6
                    .features__list-container 

                        ul.features__list
                            li.features__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100") 社員の人材育成の一環として語学力向上を 目指す企業のに最適なサービス
                            li.features__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 自社のニーズにあわせたカリキュラムを作成するので、ビジネスの現場にすぐに役立つ英語力が身に付く
                            li.features__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300") オンライン講座で時間、場所を選ばずに学べる
                            li.features__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400") 海外展開、海外顧客対応や社員の福利厚生として最適
                            li.features__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500") 厳選された講師による講座でネイティブな発音が身に付く
