section.information
    .container.p-0 
        .information__container 
            h2
                .information__title(data-aos="fade-up" data-aos-duration="1000"  )  法人向け英会話に特化した
                    b MES
                    |にお任せください

            .row.g-0
                .col-lg-6
                    .information__subtitle(data-aos="fade-up" data-aos-duration="800" data-aos-delay="100" )  発展途上国の厳選された講師による 英語学習サービスを、いつでも オンラインでどこでも
                    .information__desc(data-aos="fade-up" data-aos-duration="800" data-aos-delay="300" )   おまかせくださいの理由。活用シーンなども掲載。おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由おまかせくださいの理由。
                .col-lg-6 
                    .information__image(data-aos="fade-left" data-aos-duration="800" data-aos-delay="600" ) 
                        img(src="static/images/content/information_image.png" alt="" decoding="async")
            .facilities
                .facilities__item(data-aos="fade-up" data-aos-duration="1000"  ) 
                    .facilities__image 
                        .facilities__title 
                            img(src="static/images/content/facilities-1.png" alt="" data-aos="facility-title-rotate" data-aos-duration="1000" data-aos-delay="600" decoding="async")
                        img(src="static/images/content/facilities-img-1.png" alt="" decoding="async")
                .facilities__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 
                    .facilities__image 
                        .facilities__title 
                            img(src="static/images/content/facilities-2.png" alt="" data-aos="facility-title-rotate" data-aos-duration="1000" data-aos-delay="700" decoding="async")
                        img(src="static/images/content/facilities-img-2.png" alt="" decoding="async")
                .facilities__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400") 
                    .facilities__image 
                        .facilities__title 
                            img(src="static/images/content/facilities-3.png" alt="" data-aos="facility-title-rotate" data-aos-duration="1000" data-aos-delay="800" decoding="async")
                        img(src="static/images/content/facilities-img-3.png" alt="" decoding="async")
            .plan
                .plan__title(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200")  コースメニュー（初級〜中級の例）
                .table-responsive(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")
                    table.table.plan__table 
                        tr
                            th コース名
                            td
                                .alert.mb-0 初心者向けコース
                            td
                                .alert.mb-0 TOEIC攻略講座 コース
                            td
                                .alert.mb-0 趣味英会話 
                                    br
                                    |コース
                            td
                                .alert.mb-0 ビジネス英会話 コース
                        tr
                            th レベル
                            td Pre-A1, A1
                            td A1 - B1
                            td A1 - B1
                            td A2 - B2
                        tr
                            th 特t徴
                            td
                                p 日常生活での英会話の練習が中心、英語に対する苦手意識を克服
                            td 
                                p 一般的な英会話と基本的な文法を学び、スコア500点を目指す。 個人目標達成まで学習のコンサルテーションを加えたサポート体制
                            td 
                                p 会話テキストに加え、ニュース記事、有名曲の歌詞など幅広く英語を活用 
                                p   ※Pre-A1終了後に選択できるコースです。
                            td 
                                p ニュース、雑誌記事、TEDスピーチなどの題材を用いた英会話スキル及び、ビジネスメールを想定した文法スキルの向上
                        tr
                            th おすすめする 
                                br
                                | 対象者
                            td 
                                p これから英語を学びたいという方に
                            td 
                                p さらなる向上を目指したい方に
                            td 
                                p もっと英会話を楽しみたいという方に
                            td 
                                p 英語をつかってどんどんグローバルに活躍する方に
                        tr
                            th 推奨回数
                            td.text-center 40回
                            td.text-center 40〜80回
                            td.text-center 30〜50回
                            td.text-center 30〜50回
            .differences 
                .differences__title(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400") 一般的なオンライン英会話スクールとの違い
                .table-responsive(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500")
                    table.table.differences__table
                        tr 
                            th(style="width: 188px")
                            th(style="width: 380px") MES
                            th(style="width: 380px") 一般的なスクール
                        tr 
                            td カリキュラム
                            td  カリキュラム
                            td 定型的なビジネス英会話まで
                        tr 
                            td 講師陣
                            td 中級コース以上は専門領域を有する ビジネスパーソン
                            td 英会話の先生
                        tr 
                            td 生徒フォロー
                            td 宿題とその添削による定着を強化
                            td 簡単なフィードバックのみ
                        tr 
                            td B-to-B対応
                            td 貴社のニーズに合わせたカリキュラム作成、
                                | 事業で使うプレゼンテーションの
                                | 作成・実施支援等まで可能
                            td オンラインスクールでは限定的
                    table.table.differences__table-mobile
                        tr 
                            th
                            td カリキュラム
                            td 講師陣
                            td 生徒フォロー
                            td B-to-B対応

                        tr 
                            th MES
                            td  英語でビジネススクールまで実施可能
                            td 中級コース以上は専門領域を有する ビジネスパーソン
                            td 宿題とその添削に よる定着を強化
                            td 貴社のニーズに合わせたカリキュラム作成、 事業で使 うプレゼンテーションの 作成・実施支援等まで可能

                        tr 
                            th 一般的なスクール
                            td 定型的なビジネス英会話まで
                            td 英会話の先生
                            td 簡単なフィードバックのみ
                            td オンラインスクールでは限定的


                .differences__subtitle ※一部別途費用がかかります。