section.instructors 
    .container.p-lg-0
        .instructors__container.text-center
            h2
                .instructors__suptitle(data-aos="anim-move-right" data-aos-duration="1000") 
                    .title Our instructors
                    .element
            h2
                .instructors__title(data-aos="anim-move-right" data-aos-duration="1000" data-aos-delay="200")
                    .title  講師の紹介
                    .element 
            .instructors__desc(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 初級者から中級・上級者まで安心の経験豊富な講師陣。
                br
                | 中級コース以上は、専門領域を有するビジネスパーソンです。
        .row.justify-content-center
            .col-lg-4.col-md-6 
                .instructors__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200") 
                    .instructors__image 
                        img(src="static/images/content/instructor-1.png" alt="" decoding="async")
                    .instructors__name LEALLYN BAGAY MACARASIG
                    .instructors__experience 
                        ul.experience 
                            li.experience__item ブラカン州立大学
                            li.experience__item アティック・ツアーズ・フィルス INC、アヤラランドモールズヴィスミン、等
                            li.experience__item ツアーガイドサービスNCII資格保有
            .col-lg-4.col-md-6 
                .instructors__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400" decoding="async") 
                    .instructors__image 
                        img(src="static/images/content/instructor-2.png" alt="")
                    .instructors__name MARIAN M. GUDA
                    .instructors__experience 
                        ul.experience 
                            li.experience__item マニラ中央大学
                            li.experience__item アル・オルバ・インターナショナル・スクール、エミレーツ・ナショナル・スクール英語教師
                            li.experience__item ヨンソン電子株式会社等
                            li.experience__item アラビア語、北京語、日本語
            .col-lg-4.col-md-6 
                .instructors__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" decoding="async") 
                    .instructors__image 
                        img(src="static/images/content/instructor-3.png" alt="")
                    .instructors__name Lorena Macarasig Hallorina
                    .instructors__experience 
                        ul.experience 
                            li.experience__item ブラカン州立大学
                            li.experience__item パンギナイ・ウニダ・クリスチャン・スクール及びマウント・モーリア・クリスチャン・アカデミー 小学校前教師
                            li.experience__item ティーチング・アシスタンスのエキスパート
                            li.experience__item 英語上級者
