section.intro
    h2.intro__label(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300")
        //- picture.w-100
        //-     source( media="(max-width:991px)" srcset="")
        //-     img( src="" alt="Flowers" style="width:auto;" decoding="async").w-100 
        picture
            source(srcset="static/images/general/intro_label.svg" media="(min-width: 576px)")
            img( src="static/images/general/intro_label--mb.svg" width="1125" height="405" alt="日本企業の英語力を高める" class="w100p" decoding="async")

    .container-lg.intro__container 
        .row.g-0 
            .col-auto 
                .intro__suptitle(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700") 法人向けサービス
                .intro__title 
                    span.intro__title-text(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800") ビジネス特化型
                    span.intro__title-text(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000") オンライン英会話サービス
                .intro__logo(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1100") 
                    img(src="static/images/general/intro_logo.jpg" decoding="async" width="142" height="60" alt="MES")

    .intro__people
        <picture>
            <source srcset="static/images/general/intro_people.png" media="(min-width: 576px)">
            <img src="static/images/general/intro_people@2x.png" width="562" height="284" alt="" decoding="async"  data-aos="fade-up" data-aos-delay="1000" data-aos-duration="400">
        </picture>