section.news
    .container.p-lg-0
        .news__container 
            h2
                .news__suptitle(data-aos="anim-move-right" data-aos-duration="1000")  
                    .title News / Twitter
                    .element
            h2
                .news__title(data-aos="anim-move-right" data-aos-duration="1000" data-aos-delay="200")  
                    .title お知らせ
                    .element
        .news__list 
            a(href="#" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100").news__item 
                .date 2022/01/01
                .title 何は多年とうとうその説明方というもののために黙っうで。いよいよ前へ相違学はようやくこの関係ないましまでに出とならたをは保留食うんないて、当然にもなるたべきませな。
            a(href="#" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200").news__item 
                .date 2022/01/01
                .title 何は多年とうとうその説明方というもののために黙っうで。いよいよ前へ相違学はようやくこの関係ないましまでに出とならたをは保留食うんないて、当然にもなるたべきませな。
            a(href="#" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300").news__item 
                .date 2022/01/01
                .title 何は多年とうとうその説明方というもののために黙っうで。いよいよ前へ相違学はようやくこの関係ないましまでに出とならたをは保留食うんないて、当然にもなるたべきませな。
            a(href="#" data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400").news__item 
                .date 2022/01/01
                .title 何は多年とうとうその説明方というもののために黙っうで。いよいよ前へ相違学はようやくこの関係ないましまでに出とならたをは保留食うんないて、当然にもなるたべきませな。
