section.philosophy 
    .container.p-lg-0
        h2
            .philosophy__suptitle(data-aos="anim-move-right" data-aos-duration="1000") 
                .title 私たちの理念
                .element
        h2
            .philosophy__title(data-aos="fade-right" data-aos-duration="1000")  
                p  語学のインパクトで         
                p 日本企業のイノベーションと  
                p 開発途上国の生活基盤の向上を 
                p 実現します。
        .row.g-0.philosophy__container(data-aos="philosophy-fade-up" data-aos-duration="1000" data-aos-delay="900") 
            .col-lg-6
                .philosophy__desc(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100")  
                    p わたしたちは、これからの日本企業には、異文化の才能を巻き込む力が必要だと考えています。 巻き込み力を最大限に発揮するためには、語学力が必要です。 機械翻訳の精度は日々向上していますが、AIは文化的背景や感情まで伝えることはできません。

                    p 日本企業の語学力を底上げし、日本企業の進化に貢献したい。そして、可能な限り、開発途上国のリソースを活用し、それを実現したい。

                    p わたしたちは、そのような思いで、MESを運営しています。
            .col-lg-6.position-relative
                .philosophy__image(data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200")  
                    
                    img(src="static/images/content/philosophy.jpg" srcset="static/images/content/philosophy.jpg, static/images/content/philosophy@2x.jpg 575w"  alt="" class="w100" decoding="async")