section.price 
    .container.p-lg-0
        .price__container
            h2
                .price__suptitle(data-aos="anim-move-right" data-aos-duration="1000") 
                    .title Price / Courses
                    .element
            h2 
                .price__title(data-aos="anim-move-right" data-aos-duration="1000" data-aos-delay="200")  
                    .title 料金・コース
                    .element
        .row 
            .col-lg-3.col-md-6
                .price__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400") 
                    .price__item-header 初心者向けコース
                    .price__item-body 
                        .list 
                            .list__item 
                                .label レベル
                                .value Pre-A1、A1
                            .list__item.list__item--column
                                .label 特長
                                .value 日常生活での英会話の練習が中心、英語に対する苦手意識を克服
                            .list__item.list__item--column
                                .label 対象者
                                .value これから英語を学びたいという方に
                            .list__item 
                                .label 1レッスンの時間
                                .value 25分
                            .list__item 
                                .label 1レッスン単価
                                .value 500円
                            .list__item 
                                .label 合計金額
                                .value 20,000円
            .col-lg-3.col-md-6 
                .price__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700") 
                    .price__item-header 初心者向けコース
                    .price__item-body 
                        .list 
                            .list__item 
                                .label レベル
                                .value A1-B1
                            .list__item.list__item--column
                                .label 特長
                                .value 一般的な英会話と基本的な文法を学び、スコア500点を目指す。個人目標達成まで学習のコンサルテーションを加えたサポート体制
                            .list__item.list__item--column
                                .label 対象者
                                .value さらなる向上を目指したい方に
                            .list__item 
                                .label 1レッスンの時間
                                .value 25分
                            .list__item 
                                .label 1レッスン単価
                                .value 600～1,000円
                            .list__item 
                                .label 合計金額
                                .value 24,000～80,000円
            .col-lg-3.col-md-6 
                .price__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900") 
                    .price__item-header 初心者向けコース
                    .price__item-body 
                        .list 
                            .list__item 
                                .label レベル
                                .value A1-B1
                            .list__item.list__item--column
                                .label 特長
                                .value 
                                    p 会話テキストに加え、ニュース記事、有名曲の歌詞など幅広く英語を活用
                                    p ※Pre-A1終了後に選択できるコースです。
                            .list__item.list__item--column
                                .label 対象者
                                .value もっと英会話を楽しみたいという方に
                            .list__item 
                                .label 1レッスンの時間
                                .value 25分
                            .list__item 
                                .label 1レッスン単価
                                .value 600～900円
                            .list__item 
                                .label 合計金額
                                .value 18,000〜45,000円
            .col-lg-3.col-md-6 
                .price__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1100")  
                    .price__item-header 初心者向けコース
                    .price__item-body 
                        .list 
                            .list__item 
                                .label レベル
                                .value A1-B2
                            .list__item.list__item--column
                                .label 特長
                                .value ニュース、雑誌記事、TEDスピーチなどの題材にビジネス表現を用いた英会話スキル及び、ビジネスメールを想定した文法スキルの向上
                            .list__item.list__item--column
                                .label 対象者
                                .value 英語を使ってどんどんグローバルに活躍する方に
                            .list__item 
                                .label 1レッスンの時間
                                .value 25～50分
                            .list__item 
                                .label 1レッスン単価
                                .value 1,000～1,300円
                            .list__item 
                                .label 合計金額
                                .value 30,000～65,000円
        .price__subtitle ※詳細についてはお問い合わせください。