section.problems 
    h2
        .problems__title(data-aos="fade-up" data-aos-duration="1000" ) 企業内でこのような「英語」にまつわる お悩みはありませんか？
    .container.p-0 
        .problems__list 
            .problems__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="100") 
                .icon 
                    img(src="static/images/general/check.png" alt="" decoding="async")
                .text 事業の海外進出をしたい
            .problems__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="300" decoding="async") 
                .icon 
                    img(src="static/images/general/check.png" alt="")
                .text 海外の顧客をふやしたい
            .problems__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" decoding="async") 
                .icon 
                    img(src="static/images/general/check.png" alt="")
                .text 社員の英会話力を上げて、ビジネスチャンスを得たい
            .problems__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="700" decoding="async")
                .icon   
                    img(src="static/images/general/check.png" alt="")
                .text ビジネスに活かせる英会話を 身につけたい
            .problems__item(data-aos="fade-up" data-aos-duration="1000" data-aos-delay="900" decoding="async") 
                .icon
                    img(src="static/images/general/check.png" alt="")
                .text 海外出張や赴任を任せたいが、英会話力が心配
        .problems__image(data-aos="zoom-in" data-aos-duration="500" data-aos-delay="1000" decoding="async") 
            img(src="static/images/content/problems_image.png" alt="").w-100
        .problems__image-title(data-aos="fade-right" data-aos-duration="500" data-aos-delay="900" )   このようなお悩みを 法人向けビジネス特化型オンライン 英会話サービスで解決します！
