.faq {
    padding-top   : 99px;
    padding-bottom: 127px;
    background    : #f1f1f1;

    &__suptitle {
        font-size   : 18px;
        font-family : "Poppins";
        color       : $primary_color;
        font-weight : bold;
        text-align  : center;
        position    : relative;
        overflow    : hidden;
        width       : 50px;
        margin-left : auto;
        margin-right: auto;
    }

    &__title {
        font-size    : 36px;
        font-family  : "Noto Sans CJK JP";
        color        : $primary_color;
        font-weight  : bold;
        text-align   : center;
        margin-bottom: 57px;
        position     : relative;
        overflow     : hidden;
        width        : 300px;
        margin-left  : auto;
        margin-right : auto;
    }

    &__item {
        border-radius: 10px;
        background   : $white;
        padding      : 20px;
        height       : 100%;

        & .question {
            font-size    : 20px;
            font-family  : "Noto Sans CJK JP";
            color        : $primary_color;
            font-weight  : bold;
            padding-left : 50px;
            margin-bottom: 30px;
            position     : relative;

            &::before {
                content      : 'Q';
                position     : absolute;
                padding      : 7px;
                display      : block;
                width        : 34px;
                height       : 34px;
                top          : -2px;
                left         : 0;
                border-radius: 5px;
                background   : $secondary_color;
                font-size    : 24px;
                font-family  : "Poppins";
                color        : $primary_color;
                font-weight  : bold;
                line-height  : 17px;
            }
        }

        & .answer {
            font-size   : 16px;
            font-family : "Noto Sans CJK JP";
            color       : $primary_color;
            line-height : 1.875;
            text-align  : left;
            padding-left: 50px;
            position    : relative;
            font-weight : 500;

            &::before {
                content      : 'A';
                position     : absolute;
                padding      : 7px;
                display      : block;
                width        : 34px;
                height       : 34px;
                top          : -2px;
                left         : 0;
                border-radius: 5px;
                background   : transparent;
                font-size    : 24px;
                font-family  : "Poppins";
                color        : $primary_color;
                font-weight  : bold;
                line-height  : 1;
            }
        }
    }
}