.philosophy {
    padding-top: 108px;
    position   : relative;

    // padding-bottom: 239px;
    &::after {
        content      : '';
        display      : block;
        width        : 66%;
        height       : 634px;
        background   : $primary_color url('../images/content/philosophy-background.jpg')no-repeat 0/cover;
        position     : absolute;
        // top       : 235px;
        left         : -125px;
        z-index      : -1;
        bottom       : 0;

    }

    &__suptitle {
        font-size  : 24px;
        font-family: "Noto Sans CJK JP";
        color      : $primary_color;
        line-height: 2;
        text-align : left;
        overflow   : hidden;
        position   : relative;
        width      : 250px;
        z-index    : 2;
    }

    &__title {
        font-size    : 46px;
        font-family  : "Noto Sans CJK JP";
        color        : rgb(24, 62, 93);
        font-weight  : bold;
        line-height  : 1.565;
        text-align   : left;
        max-width    : 645px;
        margin-bottom: 63px;
        z-index      : 1;
        overflow     : hidden;
        position     : relative;

        & p {
            margin-bottom: 0;
        }

    }

    &__container {
        // background-color: $secondary_color;
        padding-top: 228px;
        position   : relative;
        top        : -240px;
        margin     : 0;

        &::before {
            content   : '';
            display   : block;
            width     : auto;
            height    : 75%;
            background: $secondary_color;
            position  : absolute;
            left      : 20px;
            top       : 0;
            right     : calc((100vw - 1160px) / -2);
        }


    }

    &__desc {
        font-size        : 18px;
        font-family      : "Noto Sans CJK JP";
        color            : $primary_color;
        text-align       : justify;
        font-weight      : 500;
        padding-left     : 80px;
        // padding-bottom: 80px;
    }

    &__image {
        text-align    : right;
        // position   : absolute;
        // height     : 542px;
        // width      : 446px;
        margin-left   : 55px;

        & img {
            position    : relative;
            z-index     : 1;
            box-shadow  : -35px 35px 0 #183e5d;
            width       : 100%;
            height      : auto;
            // transform: translate(53px, -51px);
        }
    }
}