extends template/main

block variables
	- var title = 'Главная страница'

block content
	include modules/intro
	include modules/features
	include modules/problems
	include modules/information
	include modules/instructors
	include modules/price
	include modules/case
	include modules/faq
	include modules/philosophy
	include modules/contact
	include modules/news
