footer.footer
    .container-fluid.p-0
        .row.g-0
            .col-lg-7 
                .footer__map 
                    #map.map(style="height: 430px")
            .col-lg-5 
                .footer__text 
                    .footer__suptitle 運営会社
                    .footer__title 株式会社ロコモコ 
                    .footer__contact 
                        .address 住所：〒710-0803 岡山県倉敷市中島2236-100
                        .email MAIL：お問い合わせフォームは 
                            a(href="") こちら
        .footer__bottom  2022 © locomoco Inc.
